@charset "utf-8";

/* 공통 */
.min_layout {width:980px; margin:0 auto; text-align:left;}


/* 공지 팝업 */
#main_popup1 {position:absolute; left:200px; top:200px; width:394px; height:337px; border:1px solid #b9babd; background:url(../images/notice_popup_bg.png) no-repeat 0 0; z-index:10;}
#main_popup1 .mp_title1 {font-family:'나눔고딕','NanumGothic',Sans-serif; font-weight:600; font-size:20px; color:#009fb0; margin-left:225px; padding-top:29px;}
#main_popup1 .mp_title2 {font-family:'나눔고딕','NanumGothic',Sans-serif; font-weight:800; font-size:32px; color:#003c74; margin-left:187px; margin-top:5px;}
#main_popup1 .mp_tbox {width:316px; height:134px; margin-left:15px; margin-top:29px; padding:24px; overflow:auto;}
#main_popup1 .mp_title3 {font-family:'나눔고딕','NanumGothic',Sans-serif; font-weight:600; font-size:18px; color:#5565c6; margin-bottom:15px;}
#main_popup1 .mp_con {line-height:20px;}
#main_popup1 .popup_close {text-align:right; padding-right:14px; margin-top:10px; color:#fff;}
#main_popup1 .popup_close a {color:#fff;}
#main_popup1 .popup_close a img {vertical-align:-2px;}


/* header */
header {width:100%; position:relative;}
.top {width:100%; height:24px; background-color:#666b87;}
.top_btns {float:right; overflow:hidden;}
.top_btns li {float:left; height:24px; line-height:24px; background:url(../images/top_m_line.gif) no-repeat 0 50%; padding:0 10px;}
.top_btns li.bkNone {background:none;}
.top_btns li.rNone {padding-right:0;}
.top_btns li a {color:#c9ccde; font-size:11px;}

hgroup {overflow:hidden; height:72px;}
hgroup h1 {display:block; float:left; width:120px;}
hgroup nav {float:right;}
hgroup nav > ul {overflow:hidden;}
hgroup nav > ul > li {float:left; width:155px;}
hgroup nav > ul > li > a {
	font-family:'나눔고딕','NanumGothic',Sans-serif;
	font-weight:600;
	font-size:15px;
	color:#3c3c3c;
	display:block; 
	height:72px; 
	line-height:72px;
	text-align:center;
}
hgroup nav > ul > li > a.rNone {padding-right:0;}
hgroup nav > ul > li > a.on {color:#5565c6;}
.gnb_over {position:absolute; left:0; top:96; width:100%; background-color:#fff; border-top:1px solid #ccc; border-bottom:1px solid #ccc; z-index:10;}
.gnb_over_cen {overflow:hidden;}
.gnb_over_cen > ul {float:right; overflow:hidden;}
.gnb_over_cen > ul > li {float:left; width:155px; padding-top:19px; height:200px;}
.gnb_over_cen > ul > li:hover,
.gnb_over_cen > ul > li.on {background:url(../images/gnd_top_line.png) no-repeat center top; background-color:#fafbfd;}
.gnb_over_cen > ul > li > div {border-right:1px solid #f1f1f1; height:180px; padding-top:10px;}
.gnb_over_cen > ul > li:first-child > div {border-left:1px solid #f1f1f1;}
.two li a {
	font-family:'나눔고딕','NanumGothic',Sans-serif;
	font-size:14px;
	color:#555;
	display:block; 
	height:30px; 
	line-height:30px;
	padding-left:25px;
}
.two li a:hover,
.two li a.on {font-weight:600; color:#5565c6; text-decoration:underline;}


/* footer */
footer {width:100%; padding:5px 0 15px 0; background-color:#343848;}
.footer {overflow:hidden;}
.footer .f_logo {float:left; height:80px; margin-right:60px;}
.footer .f_copy {float:left; font-family:'나눔고딕','NanumGothic',Sans-serif; width:600px;}
.footer .f_copy address {font-size:13px; color:#9397a9; margin-top:20px; margin-bottom:10px;}
.footer .f_copy > div {color:#7d84a4; font-size:11px; overflow:hidden;}
.footer .f_copy > div > p {float:left;}
.footer .f_copy > div > p.f_title {font-size:12px; font-weight:600; margin-right:10px; padding-top:2px;}
.footer .f_copy > div > p.f_con {line-height:20px;}
.footer .f_right {float:right;}
.footer .f_right > ul {overflow:hidden; margin-top:20px; margin-bottom:30px;}
.footer .f_right > ul li {float:left;}
.footer .f_right > ul li a {font-family:'나눔고딕','NanumGothic',Sans-serif; font-size:12px; color:#6b7290; background:url(../images/footer_m_line.gif) no-repeat 0 50%; padding:0 10px; font-weight:600;}
.footer .f_right > ul li:first-child a {background:none;}
.footer .f_right > p {
	text-align:right; 
	font-size:10px; 
	color:#b4b8c4; 
	padding-right:10px;
} 
.footer .f_right > p span {
	display:inline-block;
	background:url(../images/footer_icon1.png) no-repeat 0 0;
	padding-left:18px;
}


/* MAIN 레이아웃 */
/** main_content **/
.main_content {width:100%; height:808px; background:url(../images/main_bg.png) no-repeat center top; background-color:#e0e3e9;}
.main_center {overflow:hidden; position:relative;}
.main_center .mc_left {float:left; width:430px;}
.main_center .mc_left .txt1 {margin-top:82px; margin-left:29px;}
.main_center .mc_center {float:left; width:334px;}
.main_center .mc_center .equipment {width:334px; height:188px; font-family:'나눔고딕','NanumGothic',Sans-serif; background-color:#fff; margin-top:40px; position:relative;}
.main_center .mc_center .title {
	font-weight:600; 
	font-size:16px; 
	color:#4a5ed5; 
	width:314px;  
	height:39px; 
	line-height:39px; 
	border-bottom:1px solid #6c7adb;
	margin-left:10px;
}
.main_center .mc_center .main_expert {width:334px; height:188px; font-family:'나눔고딕','NanumGothic',Sans-serif; background-color:#fff; margin-top:16px; position:relative;}


.con {overflow:hidden; width:300px; margin:0 auto; text-align:left; padding-top:15px;}
.con .cont {float:left;}
.con .cont .m_title {font-family:'나눔고딕','NanumGothic',Sans-serif; font-size:16px; font-weight:600; color:#4a4a4a; margin-bottom:10px;}
.con .cont .con_txt {font-family:'나눔고딕','NanumGothic',Sans-serif; font-size:11px; line-height:18px; margin-bottom:15px;}
.con .p_img {float:right; width:120px;}

.roll_btn {position:absolute; top:16px; right:14px; overflow:hidden;}
.roll_btn li {float:left; width:8px; height:8px; margin-right:6px;}
.roll_btn li a {display:block; width:100%; height:100%; background-color:#aeb4c0; border-radius:100%;}
.roll_btn li a:hover,
.roll_btn li a.on {background-color:#acb5f1;}

.guide_btn {margin-top:12px;}
.guide_btn li {width:200px; height:96px;} 
.guide_btn li a {
	display:block; 
	width:100%; 
	height:100%; 
	font-family:'나눔고딕','NanumGothic',Sans-serif; 
	color:#fff; 
	font-weight:600; 
	font-size:14px;
	padding:15px;
	line-height:20px;
}
.guide_btn .left {background:url(../images/main_guide_icon1.gif) no-repeat 144px 40px; background-color:#5565c6; margin-bottom:16px;}
.guide_btn .right {background:url(../images/main_guide_icon2.gif) no-repeat 147px 40px; background-color:#00b1c3;}

.main_center .mc_right {float:right; width:200px;}

/* 로그인 */
.main_center .mc_right .login_out {width:200px; height:152px; background-color:#576278; margin-top:40px; margin-bottom:16px; font-family:'나눔고딕','NanumGothic',Sans-serif;}
.main_center .mc_right .login_out .login_title {font-family:'나눔고딕','NanumGothic',Sans-serif; color:#fff; padding-left:14px; margin-top:10px; margin-bottom:10px;}
.main_center .mc_right .login_out .login_title input {border:none; vertical-align:-3px;}
.main_center .mc_right .login_out .chbox {font-family:'나눔고딕','NanumGothic',Sans-serif; color:#d3d7ed; padding-left:14px; margin-top:5px; margin-bottom:5px;}
.main_center .mc_right .login_out .chbox input {vertical-align:-2px; border:none;}
.main_center .mc_right .login_out .in_box {overflow:hidden; padding-left:18px; margin-bottom:5px;}
.main_center .mc_right .login_out .in_box ul {float:left; margin-right:10px;}
.main_center .mc_right .login_out .in_box ul li {margin-bottom:3px;}
.main_center .mc_right .login_out .in_box ul li input {width:94px; border:1px solid #eae9e9; padding:4px 2px;}
.main_center .mc_right .login_out .in_box p {float:left;}
.main_center .mc_right .login_out .in_box p a {display:block; width:60px; height:55px; line-height:55px; text-align:center; color:#fff; background-color:#5565c6;}
.main_center .mc_right .login_out .lo_btn {font-family:'나눔고딕','NanumGothic',Sans-serif; padding-left:18px;}
.main_center .mc_right .login_out .lo_btn a {font-size:11px; color:#d5d5d5;}
.main_center .mc_right .login_out .lo_btn span {color:#d5d5d5;}

/* 로그아웃 */
.login_out .lo_title {color:#fff; font-size:13px; padding-top:15px; margin-left:11px; margin-bottom:13px;}
.login_out .lo_title span {font-weight:600; font-size:15px;}
.logout_btn {display:inline-block; width:45px; height:15px; line-height:15px; border:1px solid #d1d1d1; background-color:#fff; color:#8b9dc0; font-size:11px; text-align:center;}
.logout_btn:hover {color:#8b9dc0;}
.my_btn {display:inline-block; background:url(../images/logout_icon1.png) no-repeat 0 2px; padding-left:15px; font-size:11px; color:#d3d7ed; text-decoration:underline;}
.my_btn:hover {color:#d3d7ed; text-decoration:underline;}
.edit_btn {display:inline-block; background:url(../images/logout_icon2.png) no-repeat 0 2px; padding-left:15px; font-size:11px; color:#d3d7ed; text-decoration:underline;}
.edit_btn:hover {color:#d3d7ed; text-decoration:underline;}
.login_out .hit {overflow:hidden; border-top:1px solid #7683a1; margin-top:3px;}
.login_out .hit li {float:left; background-color:#657390; height:71px; padding:6px;}
.login_out .hit li.left {width:86px; border-right:1px solid #7683a1;}
.login_out .hit li.right {width:77px;}
.login_out .hit li .title {color:#fff; font-weight:600; margin-bottom:8px;}
.login_out .hit li .hit_con {color:#d5d5d5; font-size:11px; font-weight:600; margin-bottom:5px;}
.login_out .hit li .hit_con span {color:#5fdfff;}



.main_notice {width:200px; height:160px; background-color:#fff; margin-bottom:16px;}
.m_board_box_c {width:180px; margin:0 auto; text-align:left; padding-top:6px;}
.m_board_list dt {font-family:'나눔바른고딕','NanumBarunGothic',Sans-serif; font-size:16px; font-weight:600; color:#00a599; padding-top:7px; padding-bottom:8px; border-bottom:1px solid #00b3a6;}
.m_board_list dd {margin-top:15px; position:relative;}
.m_board_list dd li {background:url(../images/dot2.gif) no-repeat 6px center; padding-left:19px; height:22px; line-height:22px;}
.m_board_list dd .more_btn {position:absolute; top:-43px; right:5px;}




/* 달력 */
.main_date {width:334px; height:320px; background-color:#fff; margin-top:16px;}
.main_date .main_date_t {width:308px; height:34px; margin:0 auto; text-align:left; border-bottom:1px solid #00b3a6; margin-bottom:10px; font-family:'나눔바른고딕','NanumBarunGothic',Sans-serif; font-size:16px; display:block; color:#00a599; line-height:34px; font-weight:600; padding-left:6px;}
.main_calendar {width:314px; margin:0 auto; text-align:left; font-family:'나눔바른고딕','NanumBarunGothic',Sans-serif;}
.main_calendar .c_title {width:155px; text-align:center; position:relative; padding-top:2px; margin-bottom:10px;}
.main_calendar .c_title > span {font-size:15px; color:#333; font-weight:600;}
.main_calendar .c_title > a {position:absolute;}
.main_calendar .c_title > a.left_btn {left:0; top:0;}
.main_calendar .c_title > a.right_btn {right:0; top:0;}
.main_calendar .c_title .guide_icon {position:absolute; top:5px; right:-150px; font-size:11px;}
span.main_calendar_icon1 {display:inline-block; background-color:#5565c6; color:#fff; padding:3px 3px 1px 3px; font-size:11px;}
span.main_calendar_icon2 {display:inline-block; background-color:#009fb4; color:#fff; padding:3px 3px 1px 3px; font-size:11px;}
.calendar_table {width:100%;}
.calendar_table th {text-align:center; font-weight:600; background-color:#f9f9f9; border:2px solid #fff; height:22px; font-size:11px;}
.calendar_table td {background-color:#f1f1f1; border:2px solid #fff; height:26px; padding:3px; font-size:9px; vertical-align:top; font-weight:600;} 
.calendar_table span.sun {color:#d02d48;}
.calendar_table span.sat {color:#1e6dd8;}




/* 메인 관련 사이트 */
.g_site {width:100%; height:74px; }
.g_site_c {overflow:hidden;}
.g_site_c .title {float:left; height:74px;}
.g_site_list {float:right; width:820px; position:relative;}
.g_site_list_logo {width:740px;height:60px;overflow:hidden;margin:0 auto;position:relative;}
.g_site_list ul {margin:0 auto;position:absolute;}
.g_site_list ul li {float:left;width:148px;text-align:center;padding-top:19px;}
.g_site_list p.left_btn {position:absolute; top:0; left:0;}
.g_site_list p.right_btn {position:absolute; top:0; right:0;}






/* SUB 레이아웃 */
.sub_content {width:100%; background:no-repeat center top; background-color:#f0f1f4; padding-bottom:60px;}
.sub_bg1 {background-image:url(../images/sub1_visual_bg.png);}
.sub_bg2 {background-image:url(../images/sub2_visual_bg.png);}
.sub_bg3 {background-image:url(../images/sub3_visual_bg.png);}
.sub_bg4 {background-image:url(../images/sub4_visual_bg.png);}
.sub_bg5 {background-image:url(../images/sub5_visual_bg.png);}
.sub_bg6 {background-image:url(../images/sub6_visual_bg.png);}
.sub_bg7 {background-image:url(../images/sub7_visual_bg.png);}
.sub_visual {height:160px;}
.sv_con {padding-top:45px; font-family:'나눔고딕','NanumGothic',Sans-serif;}
.sv_con h2 {color:#444; font-weight:600; font-size:37px; margin-bottom:10px;}
.sv_con p {font-size:16px; color:#646672;}
.sub_content_c {background-color:#fff; position:relative;}

.sub_tab {overflow:hidden; height:50px; background-color:#727ec8; margin-bottom:42px;}
.sub_tab li {float:left; width:196px;}
.sub_tab li a {display:block; color:#fff; line-height:50px; font-family:'나눔고딕','NanumGothic',Sans-serif; text-align:center; font-size:14px; border-right:1px solid #8791d4;}
.sub_tab li a:hover,
.sub_tab li a.on {background:url(../images/sub_tab_on_icon.gif) no-repeat center bottom; background-color:#4e5fc7; font-weight:600;}

.sub_center_con {width:900px; margin:0 auto; text-align:left; padding-bottom:60px;}
.title_navi {overflow:hidden; padding-bottom:9px; border-bottom:1px solid #aab2e2;}
.title_navi h3 {display:block; float:left; color:#5565c6; font-family:'나눔고딕','NanumGothic',Sans-serif; font-weight:600; font-size:29px;}
.title_navi .navigation {float:right; font-size:11px; color:#9e9e9e; margin-top:17px;}
.title_navi .navigation img {vertical-align:-2px;}

.sub_con_txt {padding-top:40px;}
.sub_con_txt.sub_con_txt_top {padding-top:0;}



/* quick */
.quick {position:absolute; top:0; right:-20px; z-index:5;}
.quick ul {position:fixed; width:36px;}
.quick .q0 {height:44px;}
.quick .q1 {height:31px;}
.quick .q2 {height:30px;}
.main_quick {top:220px;}

/* 관리자메뉴 */
.admin_tab {overflow:hidden; height:50px; background-color:#727ec8; margin-bottom:42px;}
.admin_tab li {float:left; width:163px;}
.admin_tab li.width165 {width:165px;}
.admin_tab li a {display:block; color:#fff; line-height:50px; font-family:'나눔고딕','NanumGothic',Sans-serif; text-align:center; font-size:14px; border-right:1px solid #8791d4;}
.admin_tab li a:hover,
.admin_tab li a.on {background:url(../images/sub_tab_on_icon.gif) no-repeat center bottom; background-color:#4e5fc7; font-weight:600;}
.admin_tab li a.last {border-right:0;}

.admin_title_navi {margin-bottom:60px;}
.admin_title_navi h3 {display:block; color:#5565c6; font-family:'나눔고딕','NanumGothic',Sans-serif; font-weight:600; font-size:29px; margin-bottom:22px;}

.admin_navi {position:relative; background:url(../images/admin_tab_line.png) repeat-x 0 0; height:37px;}
.admin_navi .admin_sub_tab {width:100%; overflow:hidden;}
.admin_navi .admin_sub_tab li {float:left; width:104px; margin-right:1px;}
.admin_navi .admin_sub_tab li a {display:block; width:100%; height:35px; line-height:35px; border-bottom:2px solid #aab2e2; color:#fff; background-color:#aab2e2; text-align:center; font-family:'나눔고딕','NanumGothic',Sans-serif; font-size:14px; border-top-left-radius:12px; border-top-right-radius:12px;}
.admin_navi .admin_sub_tab li a:hover,
.admin_navi .admin_sub_tab li a.on {background-color:#485c9c; border-bottom:2px solid #485c9c}
.admin_navi .admin_navigation {position:absolute; top:13px; right:0; font-size:11px; color:#9e9e9e;}
.admin_navi .admin_navigation img {vertical-align:-2px;}
.admin_con {width:100%;}